<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Printed Management System</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">

</head>
<body>

    <div class="container">
        <div class="row">
            <h1>List of printed</h1>
        </div>
        <table class="table table-stripped table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Type</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year of publishing</th>
                <th>Pages</th>
                <th>Price</th>
            </tr>
            </thead>

            <tbody>
                <tr th:each="printed: ${printed}">
                    <td th:text = "${printed.type}"></td>
                    <td th:text = "${printed.title}"></td>
                    <td th:text = "${printed.author}"></td>
                    <td th:text = "${printed.yearOfPub}"></td>
                    <td th:text = "${printed.pages}"></td>
                    <td th:text = "${printed.price}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>